{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "off",
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports"],
      "extends": ["airbnb-typescript/base", "plugin:prettier/recommended"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "singleQuote": true,
            "trailingComma": "none",
            "semi": false
          }
        ],
        "import/order": [
          "error",
          {
            "groups": ["builtin", "external", "internal"],
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              }
            ],
            "pathGroupsExcludedImportTypes": ["react"],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "@typescript-eslint/comma-dangle": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-nested-ternary": "off",
        "no-case-declarations": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_" }
        ],
        "max-classes-per-file": "off",
        "comma-dangle": "off",
        "no-underscore-dangle": "off",
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ]
      }
    }
  ]
}
